@font-face {font-family: "iconfont";
  src: url('./iconfont/iconfont.eot?t=1563026964659'); /* IE9 */
  src: url('./iconfont/iconfont.eot?t=1563026964659#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAK4AAsAAAAABqAAAAJsAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCDBgqBAIEGATYCJAMMCwgABCAFhG0HPxvVBcgOJR0FiZgSQ0BkPPx377/7zMyr1f6nUrFaX/6ptTQKBSgaykMLSEAC0rng/d81/R2jzfNXlENWqPDgJ02P/2XMloQ5OyAjJ9w64erzXE7vrgIKZP625bj25qNegHFAAe2NUWRFEoC31E3GVdGjfzwm0LZMkzifmFuEGgVaFYj3UuhQ00kqSlJpCvWJg0Us1DTTp/QV+Cy/H3/kooaklqGNF+/GLRj63v++lk+qE/eckCL4x2vI2AEK8ThZvFYuEna5trFiubGuCOmsTFUhlbW5/tI/XiLqUHsXbPilxPc+lRN8XzsigQzq3fISsBmwppeEGHWFeD59uuuwHk468fHe2rr2o/hdF69LJ3eLhZU45u1/7W+/f4SPf38zXdHvhd4PJ/HLdse2LzZd+i+6xO/BM0C1yJG3AEX6KBD8iw/Pn5r7/tZ0Cvh20eiQyWpRwM3NN4eCP6UC9pVag1y5lEqqbMPZCFBIaNcRFRQd+99vnoG7CU2zHeGGJYusaYUsrB3UdOyirukIbdsmj3dMkHJRWthy6SEMvSHp+4Js6JcsrCJq5kqoG0Y52i6j/cKOtZB1o4S6QosZu0yavseJR9WpznkUm45OrkZylpEimWHZVKZfmUQP6Ywt0ZbIKcUZJ99lE95z6Dg+C8gvoKlSeaWCnnSaT70pZfou1DlDkE5BFsawi5FMPg/nw5W6wefnIWGTQ0cLtJXiMkQicnwmKyUDICeNHoj2La9Etgg5isIxHPG5mAlvHnI4fEwwPa8AmZSU/I58oEcaD+JQY+p+s/t9R6ANXZ8jRY6i/ULkbycd5KpmR+qeYA4A') format('woff2'),
  url('./iconfont/iconfont.woff?t=1563026964659') format('woff'),
  url('./iconfont/iconfont.ttf?t=1563026964659') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('./iconfont/iconfont.svg?t=1563026964659#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left:before {
  content: "\e60e";
}

.icon-xiangxia:before {
  content: "\e626";
}

